<footer class="container footer" id="footer">
  <div class="top-section">
    <div class="brand-section">
      <div class="logo-media">
        <a href="#" class="footer-logo-link">watchcharm</a>
        <ul class="footer-item">
          <li>
            <a
              class="footer-media"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              aria-label="Facebook"
            >
              <svg width="20" height="20">
                <use href="/img/footer/footer-icons.svg#icon-footer-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="footer-media"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              aria-label="Instagram"
            >
              <svg width="20" height="20">
                <use href="/img/footer/footer-icons.svg#icon-footer-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="footer-media"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              aria-label="YouTube"
            >
              <svg width="20" height="20">
                <use href="/img/footer/footer-icons.svg#icon-footer-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <a class="footer-contact" href="tel:+380684439426">+380 (68) 443-94-26</a>
    </div>
    <h2 class="footer-h2">
      Have the time of your life with our watches: where high-class
      craftsmanship meets impeccable design
    </h2>
  </div>
  <div class="section-group-footer">
    <ul class="menu-item">
      <li class="menu-item-list">
        <a class="footer-link" href="#home">Home</a>
      </li>
      <li class="menu-item-list">
        <a class="footer-link" href="#about">About Us</a>
      </li>
      <li class="menu-item-list">
        <a class="footer-link" href="#catalog">Catalog</a>
      </li>
      <li class="menu-item-list">
        <a class="footer-link" href="#sale">Sale</a>
      </li>
      <li class="menu-item-list">
        <a class="footer-link" href="#reviews">Reviews</a>
      </li>
      <li class="menu-item-list">
        <a class="footer-link" href="#contact">Contact Us</a>
      </li>
    </ul>
    <p class="adress-text">1678 S. Pioneer Road Salt Lake City UT 84104</p>
  </div>
  <div class="bottom-section">
    <p class="footer-p">©2023 The Watch Spot. All rights reserved.</p>
    <nav class="footer-privat">
      <a class="footer-privat-a" href="#terms">Terms of Service</a>
      <a class="footer-privat-a" href="#privacy">Privacy Policy</a>
    </nav>
  </div>
</footer>