<footer class="container footer" id="footer">
  <div class="top-section">
    <div class="brand-section">
      <div class="logo-media">
        <a href="#" class="footer-logo-link">watchcharm</a>
        <ul class="footer-item">
          <li>
            <a
              class="footer-media"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              aria-label="Facebook"
            >
              <svg width="20" height="20">
                <use href="/img/footer/footer-icons.svg#icon-footer-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="footer-media"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              aria-label="Instagram"
            >
              <svg width="20" height="20">
                <use href="/img/footer/footer-icons.svg#icon-footer-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="footer-media"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              aria-label="YouTube"
            >
              <svg width="20" height="20">
                <use href="/img/footer/footer-icons.svg#icon-footer-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <a class="footer-contact" href="tel:+380684439426">+380 (68) 443-94-26</a>
      <h2 class="footer-h2">
        Have the time of your life with our watches: where high-class
        craftsmanship meets impeccable design
      </h2>
    </div>
    <div class="section-group-footer">
      <ul class="menu-item">
        <li class="footer-menu">
          <a href="./index.html">Home</a>
        </li>
        <li class="footer-menu">
          <a href="#about-us">About Us</a>
        </li>
        <li class="footer-menu">
          <a href="#catalog">Catalog</a>
        </li>
        <li class="footer-menu">
          <a href="#sale">Sale</a>
        </li>
        <li class="footer-menu">
          <a href="#reviews">Reviews</a>
        </li>
        <li class="footer-menu">
          <a href="#contact-us">Contact Us</a>
        </li>
      </ul>
      <a href="https://www.google.com/maps/place/Varex+Imaging+Visitor+Entrance/@40.7332053,-111.9617062,17z/data=!3m1!4b1!4m6!3m5!1s0x8752f35bbcfb1369:0x260ab4842496c9e4!8m2!3d40.7332053!4d-111.9591313!16s%2Fg%2F1tcxvqmt?entry=ttu&g_ep=EgoyMDI1MDEwOC4wIKXMDSoASAFQAw%3D%3D" class="adress-text">1678 S. Pioneer Road Salt Lake City UT 84104</a>
    </div>
    <div class="bottom-section">
      <p>©2023 The Watch Spot. All rights reserved.</p>
      <nav class="footer-privat">
        <a href="#terms">Terms of Service</a>
        <a href="#privacy">Privacy Policy</a>
      </nav>
    </div>
  </div>
</footer>
