<section class="hero">
  <div class="hero-div"> 
         
            <!-- <div class="hero-tablet"> -->
              <div class="hero-header-text">
                      <h1 class="hero-title">Welcome to our <span class="collection">collection</span> of premium watches</h1>
                      <p class="hero-descr">
              Our watches are not just timepieces, but also an expression of your
              personality and lifestyle. From classic designs to modern ones, we have a
              watch to suit every taste and occasion.
                      </p>
                    </div>
                <div class="pics-and-scroll">
                  <ul class="hero-list">
                          <li>
                  <img class="hero-amanda"
                    src="../img/hero/amanda-lowery.webp"
                    srcset="../img/hero/amanda-lowery.webp 1x, ../img/hero/amanda-lowery@2x.webp 2x"
                    alt="Amanda Lowery"
                  />
                          </li>
                          <li>
                  <img class="hero-ethan"
                    src="../img/hero/ethan-valdez.webp"
                    srcset="../img/hero/ethan-valdez.webp x1, ../img/hero/ethan-valdez@2x.webp 2x"
                    alt="Ethan Valdez"
                  />
                          </li>
                          <li>
                  <img class="hero-fleur"
                    src="../img/hero/fleur-cook.webp"
                    srcset="../img/hero/fleur-cook.webp 1x, ../img/hero/fleur-cook@2x.webp 2x"
                    alt="Fleur Cook"
                  />
                          </li>
                        </ul>
                  <a class="hero-anchor" href="#">Scroll down</a>
                </div>
            </div>
         
   
     
        <div class="hero-watch">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ../img/hero/hero-watch-desk.webp    1x,
                ../img/hero/hero-watch-desk@2x.webp 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/hero/hero-watch-tab.webp    1x,
                ../img/hero/hero-watch-tab@2x.webp 2x
              "
            />
         
            <source
              media="(min-width: 375px)"
              srcset="
                ../img/hero/hero-watch-mob.webp    1x,
                ../img/hero/hero-watch-mob@2x.webp 2x
              "
            />
         
            <img
              src="../img/hero/hero-watch-desk.webp"
              alt="Sleek black design watch suspended between two sleek-looking dark gray rocks"
            />
        </div>
   
         
  </div>
</section>
