<section id="sale" class="container-sale">
  <div class="container">
    <h2 class="sale-name">Sale</h2>
      <div class="block-joint">
        <div class="product-images">
          <ul class="details-images">
            <li class="details-img">
              <picture>
              <source srcset="/img/sale/desctop/anfas_f.webp 1x, /img/sale/desctop/anfas_f@2x.webp 2x"
              media="(min-width: 1280px)" />
          <source srcset="/img/sale/tab/anfas_f.webp 1x, /img/sale/tab/anfas_f@2x.webp 2x"
              media="(min-width: 768px)" />
          <source srcset="/img/sale/mob/anfas_f.webp 1x, /img/sale/mob/anfas_f@2x.webp 2x"
              media="(max-width: 767px)" />
          <img src="/img/sale/desctop/anfas_f.webp" alt="Anfas first watch" />
              </picture>
          </li>
            <li class="details-img">
              <picture>
              <source srcset="/img/sale/desctop/anfas_s.webp 1x, /img/sale/desctop/anfas_s@2x.webp 2x"
              media="(min-width: 1280px)" />
          <source srcset="/img/sale/tab/anfas_s.webp 1x, /img/sale/tab/anfas_s@2x.webp 2x"
              media="(min-width: 768px)" />
          <source srcset="/img/sale/mob/anfas_s.webp 1x, /img/sale/mob/anfas_s@2x.webp 2x"
              media="(max-width: 767px)" />
          <img src="/img/sale/desctop/anfas_s.webp" alt="Anfas second watch" />
              </picture></li>
            <li class="details-img">
              <picture>
              <source srcset="/img/sale/desctop/profile.webp 1x, /img/sale/desctop/profile@2x.webp 2x"
              media="(min-width: 1280px)" />
          <source srcset="/img/sale/tab/profile.webp 1x, /img/sale/tab/profile@2x.webp 2x"
              media="(min-width: 768px)" />
          <source srcset="/img/sale/mob/profile.webp 1x, /img/sale/mob/profile@2x.webp 2x"
              media="(max-width: 767px)" />
          <img src="/img/sale/desctop/profile.webp" alt="Profile watch" />
              </picture></li>
            <li class="details-img">
              <picture>
              <source srcset="/img/sale/desctop/rear_view.webp 1x, /img/sale/desctop/rear_view@2x.webp 2x"
              media="(min-width: 1280px)" />
          <source srcset="/img/sale/tab/rear_view.webp 1x, /img/sale/tab/rear_view@2x.webp 2x"
              media="(min-width: 768px)" />
          <source srcset="/img/sale/mob/rear_view.webp 1x, /img/sale/mob/rear_view@2x.webp 2x"
              media="(max-width: 767px)" />
          <img src="/img/sale/desctop/rear_view.webp" alt="Rear_view watch" />
              </picture></li>
          </ul>
          <div class="product-sale">
            <picture>
              <source srcset="/img/sale/desctop/watch.webp 1x, /img/sale/desctop/watch@2x.webp 2x"
              media="(min-width: 1280px)" />
          <source srcset="/img/sale/tab/watch.webp 1x, /img/sale/tab/watch@2x.webp 2x"
              media="(min-width: 768px)" />
          <source srcset="/img/sale/mob/watch.webp 1x, /img/sale/mob/watch@2x.webp 2x"
              media="(max-width: 767px)" />
          <img src="/img/sale/desctop/watch.webp" alt="Watch close-up" />
              </picture>
            </div>
          </div>
        <div class="product-details">
          <div class="description-product">
            <h3 class="title-name">MARQ<span class="trademark">®</span> Commander (Gen 2) - Carbon Edition</h3>
              <p class="prouct-tag">Product tag: 706587</p>
          </div>
              <ul class="price-list">
                <li>
                  <p class="price-sale">€1500</p>
                </li>
                <li>
                  <p class="price-normal">€3000</p>
                </li>
              </ul>
              <p class="advantages-description">The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for adventurers that takes materials and features to the next level. The body of the watch is made of very durable Fused Carbon Fiber material and has a precise AMOLED touch screen. The sensitive touch screen is complemented by buttons that can be used in any conditions. </p>
                    <ul class="product-tags-list">
                      <li class="strengths">
                        <p class="strengths-text">Fused carbon fiber </p>
                      </li>
                      <li class="strengths">
                        <p class="strengths-text">Grade-5 Titanuim</p>
                      </li>
                      <li class="strengths">
                        <p class="strengths-text">Athlete</p>
                      </li>
                      <li class="strengths">
                        <p class="strengths-text">Golfer</p>
                      </li>
                      <li class="strengths">
                        <p class="strengths-text">Commander</p>
                      </li>
                      <li class="strengths">
                        <p class="strengths-text">Adventurer</p>
                      </li>
                    </ul>
          </div>
      </div>
      </div>
</section>



