
.about-section {
  background-color: #fbfbfb;
  padding-bottom: 60px;
}
.about-section .container {
  width: 375px;
  height: 912px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.container .about-container-text {
  background-color: #f3f3f3;
  border: 1px solid #000;
  border-radius: 30px;
  width: 335px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 40px 20px 40px 20px;
  border: none;
  width: 335px;
  height: 446px;
}
.about-header {
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.02em;
}
.about-list {
  margin-bottom: 40px;
}
.about-list-item:first-child {
  margin-bottom: 20px;
}
.about-list-paragraph {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}
.about-container-text .about-link {
  padding: 16px 38px 16px 38px ;
  width: 160px;
  height: 48px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  border-radius: 16px;
  background-color: #3350e9;
  color: #fbfbfb;
  border-style: none;
  transition: background 300ms cubic-bezier(0.5, 0, 0.3, 1);
}
.about-link:hover {
  background-color: #1f3cd4;
}
.about-container-image {
  border-radius: 30px;
}
.about-container-picture{
  border-radius: 30px;
  width: 335px;
  height: 446px;
}
.about-container-picture-source {
  width: 335px;
  height: 446px;
  border-radius: 50px;
}
@media (max-width: 767px) {
  /* MOBILE */

  .about-container-image {
    width: 335px;
  }
}
/* TABLET */
@media (min-width: 768px) {
  .about-section {
    padding-bottom: 80px;
  }
  .about-section .container{
    width: 768px;
    height: 1064px;
  }
  .about-header {
    font-size: 48px;
    line-height: 92%;
  }
  .about-list-paragraph {
    font-size: 16px;
    line-height: 125%;
  }
  .about-section .container {
    gap: 40px;
  }
  .container .about-container-text {
    border-radius: 50px;
    width: 704px;
    height: 512px;
    padding: 80px 60px 80px 60px;
  }
  .about-list {
    margin-bottom: 40px;
  }
  .about-container-img {
    width: 704px;
  }
  .about .container {
  }
  .about-container-image {
    width: 704px;
    height: 512px;
  }
  .about-container-picture{
    width: 704px;
    height: 512px;
  }
}
/* DESKTOP */
@media (min-width: 1280px) {
  .about-section {
    padding-bottom: 100px;
  }
  .about-section .container {
    width: 1280px;
    height: 532px;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .container .about-container-text {
    width: 580px;
    height: 532px;
  }
  .about-container-img {
  }
  .about-container-image {
    width: 580px;
    height: 532px;
  }
  .about-list {
    margin-bottom: 60px;
  }
  .about-container-picture{
    width: 530px;
    height: 532px;
  }
}
