.about {
  background-color: #0f0;
}
.about {
  background-color: #fbfbfb;
  padding: 30px 20px 30px 20px;
}
.about .container.about {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.container.about .about-container-text {
  background-color: #f3f3f3;
  border: 1px solid #000;
  border-radius: 50px;
  width: 335px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 40px 20px 40px 20px;
}
.about-header {
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.02em;
}
.about-list {
  margin-bottom: 40px;
}
.about-list-item:first-child {
  margin-bottom: 20px;
}
.about-list-paragraph {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}
.about-container-text .about-link {
  padding: 15px 37px 15px 38px;
  display: inline-block;
  border-radius: 16px;
  background-color: #3350e9;
  color: #fbfbfb;
  border-style: none;
  width: 160px;
  height: 48px;
}
.about-link:hover {
  background-color: #1f3cd4;
}
.about-container-image {
  border-radius: 30px;
}
.about-container-picture-source {
}
@media (max-width: 767px) {
  /* MOBILE */

  .about-container-image {
    width: 335px;
  }
}
/* TABLET */
@media (min-width: 768px) {
  .about {
    padding: 40px 32px 40px 32px;
  }
  .about-header {
    font-size: 48px;
    line-height: 92%;
  }
  .about-list-paragraph {
    font-size: 16px;
    line-height: 125%;
  }
  .about .container.about {
    gap: 40px;
  }
  .container.about .about-container-text {
    width: 704px;
    height: 512px;
    padding: 80px 60px 80px 60px;
  }
  .about-list {
    margin-bottom: 40px;
  }
  .about-container-img {
    width: 704px;
  }
  .about .container.about {
  }
  .about-container-image {
    width: 704px;
    height: 512px;
  }
}
/* DESKTOP */
@media (min-width: 1280px) {
  .about {
    padding: 50px 65px 50px 65px;
  }
  .about .container.about {
    flex-wrap: nowrap;
    justify-content: center;
  }
  .container.about .about-container-text {
    width: 530px;
    height: 532px;
  }
  .about-container-img {
    width: 530px;
  }
  .about-container-image {
    width: 530px;
    height: 532px;
  }
  .about-list {
    margin-bottom: 60px;
  }
}
