.container-sale {
    padding: 30px 0px 30px 0px;
}
@media screen and (min-width: 768px) {
    .container-sale {
        padding: 40px 0px 40px 0px;
    }
}
@media screen and (min-width: 1280px) {
    .container-sale {
        padding: 50px 0px 50px 0px;
    }
}
.sale-name {
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #0C0C0C;
    padding-bottom: 24px;
}
@media screen and (min-width: 768px) {
    .sale-name {
        font-size: 48px;
        padding-bottom: 40px;
    }
}
.block-joint {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    width: 335px;
    height: 1066px;
}
@media screen and (min-width: 768px) {
    .block-joint {
        width: 704px;
        height: 1116px;
    }
}
@media screen and (min-width: 1280px) {
    .block-joint {
        flex-direction: row;
        gap: 40px;
        width: 1150px;
        height: 558px;
    }
}
.trademark {
    font-size: 24px; 
    vertical-align: text-top; 
    margin-left: 0.1em; 
    color: inherit; 
}
.details-images {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 335px;
    height: 80px;
}
@media screen and (min-width: 768px) {
    .details-images {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 132px;
        height: 558px;
    }
}
.details-img {
    background-color: #F3F3F3;
    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius:  16px;
    width: 80px;
    height: 80px;
    padding: 13px 14px;
}
@media screen and (min-width: 768px) {
    .details-img {
        width: 132px;
        height: 132px;
    }
}
.product-sale {
    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 30px;
    background-color: #F3F3F3;
    padding: 50px;
    width: 335px;
    padding: 50px ;
    height: 385px;
}
@media screen and (min-width: 768px) {
    .product-sale {
        border-radius: 50px;
        width: 552px;
        height: 558px;
        padding: 80px 112px 80px 112px;
    }
}
@media screen and (min-width: 1280px) {
    .product-sale {
        border-radius: 50px;
        width: 428px;
        height: 558px;
        padding: 80px 50px 80px 50px;
    }
}
.product-images {
    row-gap: 20px;
    display: flex;
    flex-wrap: wrap ;
    gap: 20px;
    flex-direction: column;  
}
@media screen and (min-width: 768px) {
    .product-images {
        flex-wrap: nowrap;
        flex-direction: row;
        gap: 20px;
    }
}
.product-details {
    border-radius: 30px;
    width: 335px;
    height: 561px;
    background-color: #3350E9;
    padding: 48px 28px 48px 28px;
}
@media screen  and (min-width: 768px) {
    .product-details {
        margin: 0;
        width: 704px;
        height: 518px;
        padding: 30px 60px 40px 60px;
    }
}
@media screen and (min-width: 1280px) {
    .product-details {
        width: 530px;
        height: 558px;
    }
}
.title-name {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 24px; 
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #fbfbfb;
}
@media screen and (min-width: 768px) {
    .title-name {
        font-size: 32px;
        line-height: 36px;
        height: 72px;
    } 
}
.description-product {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}
.prouct-tag {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: rgba(251, 251, 251, 0.5);
    padding-top: 10px;
    padding-bottom: 20px;
}
.price-sale {
    height: 32px;
    width: 68px;
    padding: 8px 12px 8px 12px;
    border-radius: 8px;
    width: 68px;
    height: 32px;
    background: rgba(251, 251, 251, 0.1);
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #FBFBFB ;
}
@media screen and (min-width: 768px) {
    .price-sale {
        width: 78px;
        height: 32px; 
    }
}
.price-list {
    display: flex;
}
.price-normal {
    height: 32px;
    width: 68px;
    padding: 9px 9px 9px 9px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.02em;
    text-decoration: line-through;
    color: rgba(251, 251, 251, 0.5);
}
.advantages-description {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: rgba(251, 251, 251, 0.7);
    padding: 28px 0px 28px 0px;
}
@media screen and (min-width: 768px) {
    .advantages-description {
        font-size: 16px;
        line-height: 20px;
    }
}
.product-tags-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start; 
    gap: 8px;
    padding: 0; 
    margin: 0;
    width: 279px;
    height: 112px;
}
@media screen and (min-width: 768px) {
    .product-tags-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start; 
        gap: 8px;
        padding: 0; 
        margin: 0;
        width: 398px;
        height: 76px;
    }
}
.strengths {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 8px;
    padding: 8px 12px;
    width: auto; 
    min-height: 32px;
    background-color: rgba(0, 0, 0, 0); 
}
.strengths-text {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #FBFBFB;
}
@media screen and (min-width: 768px) {
    .strengths-text {
        font-size: 14px;
        line-height: 18px; 
    }
}